<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <div class="text-right">
        {{#user}}
            <span class="mx-3">{{user}}님 안녕하세요!</span>
            <a href="/logout" class="btn btn-outline-dark">로그아웃</a>
            <a href="/" class="btn btn-outline-dark bi bi-gear"></a>
        {{/user}}
        {{^user}}
            <a href="/oauth2/authorization/naver" role="button" class="btn btn-outline-success">로그인</a>
            <a href="/auth/join" role="button" class="btn btn-outline-dark"> 회원가입</a>
        {{/user}}
    </div>


</head>
<body>