{{>layout/header}}

{{#board}}
<div class="detailCss">
    <h1>{{title}}</h1>
    <hr>
    <h3>{{content}}</h3>
</div>

<a href="/detail/edit/{{boardId}}"  class="btn btn-primary">Edit</a>
<a href="/detail/delete/{{boardId}}"  class="btn btn-danger">Delete</a>
{{/board}}
<a href="/" class="btn btn-danger">back</a>
<div>
    <div><p>테스트입니다, 어떤 위치에 오는지 확인할께요</p></div>
    {{#comment}}
    <div class="card m-2">
        <div class="card-header">
            <h1>{{boardId}}</h1>
            <hr>
        </div>
        <div class="card-body">
            <h3>{{commentcontent}}</h3>
        </div>
    </div>
        {{/comment}}
</div>

<div>

    <div class="form-group">
        <label for="content"> 내용 </label>
        <textarea class="form-control" id="commentcontent" placeholder="내용을 입력하세요"></textarea>
    </div>
        <button type="button" class="btn btn-primary" id="btn-comment-save">댓글 등록</button>


</div>



{{>layout/footer}}