{{>layout/header}}

{{#board}}
<div class="detailCss">
    <h1>{{title}}</h1>
    <hr>
    <h3>{{content}}</h3>
</div>

<a href="/detail/edit/{{id}}"  class="btn btn-primary">Edit</a>
<a href="/detail/delete/{{id}}"  class="btn btn-danger">Delete</a>
{{/board}}
<a href="/" class="btn btn-danger">back</a>
<div>
</div>



{{>layout/footer}}